.bg {
  background-color: black;
}

.mydiv {
  height: 200px;
  width: 50%;
}

.blue_bg {
  background-color: blue;
}
.black_bg {
  background-color: black;
}

.red_bg {
  background-color: rgb(209, 123, 66);
}

.sec_div {
  height: 200px;
  width: 50%;
  border: 1px solid black;
}
.sec_div3 {
  height: 200px;
  width: 50%;
  border: 1px solid rgb(0, 81, 255);
  transition: 0.5s linear;
}
